#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.drum-pad {
  background-color: rgb(120, 119, 119);
  border: 1px solid wheat;
}
