#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#drum-machine {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.drum-pad {
  background-color: rgb(120, 119, 119);
  border-radius: 15px;
  padding: 1rem;
}
