#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#drum-machine {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
.pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.drum-pad {
  background-color: rgb(120, 119, 119);
  border: 1px solid wheat;
  border-radius: 15px;
  padding: 1rem;
}
